<!DOCTYPE html>
<html>
    <head>
        <title>About website </title>
        <h2 style="font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">about website:</h2>
        <img src="https://tse1.mm.bing.net/th/id/OIP.4rZ4ZPxFnT6vMCad7bnPugHaHa?pid=Api&P=0&h=180" ></img>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ab obcaecati soluta nam commodi qui suscipit, quaerat eum impedit incidunt et cum veritatis dicta ut, cupiditate velit tempore ipsam. Temporibus, voluptatibus.></p>
        <img src="https://tse4.mm.bing.net/th/id/OIP.nhRetqR41ki3qHSLr8H2MAHaE7?pid=Api&P=0&h=180"></img>
        <h3>our work</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A reiciendis id itaque laudantium ad ea voluptatum magnam. Quod totam at, commodi voluptatem ea molestias quasi ex qui accusantium! Eligendi dolores repudiandae vel asperiores ipsa qui vero esse cum cumque reprehenderit assumenda praesentium, sed repellat eius recusandae aspernatur, enim voluptatem provident?></p>
        <h3>our  vision</h3> 
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Debitis unde repellendus, suscipit incidunt temporibus eius deleniti voluptatum at vel aperiam ut dolorum perspiciatis blanditiis commodi veritatis amet architecto perferendis rerum!></p>
        <h1>to contact us:</h1>
        <p>0101001010</p>    
    </head>
</html>